.login-container {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 24%, rgba(228,216,216,1) 56%, rgba(0,0,0,0) 89%);
}

.coverImage-login {
  width: 45vw;
  height: 70vh;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.login-subContainer {
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.068);
  border-radius: 20px;
}

.form-container {
  background-color: white;
  width: 30vw;
  height: 70vh;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  /* gap:2vh; */
  align-items: center;
  border-radius: 10px;
}

.logoImage-login {
  height: 90px;
  width: 200px;
  margin: 4rem;
  align-items: center;
}

.userEmail-title,
.userPassword-title {
  width: 20vw;
  height: 5vh;
  border: solid 0.2px rgb(243, 243, 243);
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0px 0px 8px #dddddd27;
  background-color: #eae9e988;
  display: flex;
  align-items: center;
}

.userEmail-title input,
.userPassword-title input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  margin-bottom: 0px;
}

input::placeholder {
  font-size: 01rem;
  padding: 0.8rem;
}

input:focus {
  outline: none;
}

.icone-login {
  font-size: 25px;
}

.form-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.login-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  align-items: center;
}

.login-btn {
  border-radius: 18px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
  width: 40%;
  height: 2em;
  text-align: center;
}

.login-btn:hover {
  background-color: rgb(243, 194, 102);
}
.login-button-container{
  gap:5px;
}

.login-button-container div {
  color: grey;
  font-weight: 600;
  border-bottom: solid 0.5px grey;
  cursor: pointer;
}

.login-button-container div:hover {
  color: #30382d69;
}

.socialicon {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-size: 30px;
  color: gray;
  margin-top: 6vh;
}

.facebook {
  color: grey;
}

@media screen and (max-width: 1350px) {
  .socialicon {
    font-size: 25px;
    margin-top: 4vh;
  }

  .userEmail-title,
  .userPassword-title {
    width: 25vw;
    height: 5vh;
  }
}

@media screen and (max-width: 1022px) {


  .form-container {
    background-color: white;
    width: 100%;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 24%, rgba(228,216,216,1) 56%, rgba(0,0,0,0) 89%);
  }

  .login-container {
    display: block;
    padding: 2rem;
  }

  .userEmail-title,
  .userPassword-title {
    width: 100%;
    height: 5vh;
  }
}