/* .btn-details {
    fill: #ffffff;
    color: #ffffff;
    background-color: #ff0000;
    border-style: none;
    font-size: medium;
    border-radius: 17px 17px 17px 17px;
    padding: 15px 30px;
    cursor: pointer;
  }
  .btn-details:hover {
    fill: #ffffff;
    color: #ffffff;
    background-color: #cf1313;
    border-style: none;
    font-size: medium;
    border-radius: 17px 17px 17px 17px;
  }
   */