.dash-services-students-offers h1 {
  margin-bottom: 20px;
}

.services-student-update {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.img-form-edit {
  margin-bottom: 20px;
}

.compare-slider-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
