.contact-form-container {
  /* border: 1px solid red; */
  width: 20vw;
  background-color: black;
  height: 68vh;
  padding-left: 28px;
  padding-top: 28px;
  font-family: "Jost";
  font-size: 1.6rem;
  font-weight: bold;
  /* margin-top: 40px;
  margin-right: 90px; */
  
}
.about-contact-form-title {
  color: whitesmoke;
  text-align: start;
  font-weight: bold;
}

.message-query textarea,
.subject-query textarea,
.user-email textarea {
  outline: none;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 30px;

  font-family: "Jost";
  color: whitesmoke;
  /* text-indent: 20px; */
}

.message-query textarea {
  height: 9rem;
  width: 22rem;
  font-size: 1.2rem;
  resize: none;
}
.subject-query textarea,
.user-email textarea {
  height: 3rem;
  width: 22rem;
  resize: none;
  font-size: 1.2rem;
}
.message-query textarea::placeholder,
.subject-query textarea::placeholder,
.user-email textarea::placeholder {
  color: grey;
  font-size: 1.2rem;
}
.email-title {
  align-self: center;
  display: flex;
  margin-top: 1rem;
}
.form-query {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  gap: 30px;
}

.contact_form_con {
  background-color: black;
  height: 60vh;
  width: 20vw;
}
/* 
* {
  border: 1px solid red;
} */

.button-contact-form{
  height: 3rem;
  width: rem;
  display: flex;
  align-self: flex-start;
  border-radius: 88px;
  padding: 2rem 2.5rem;
  font-weight: bolder;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  font-family: "Jost";
  border: none;


}
.button-contact-form:hover{
  border: 1px solid white;
  background-color: black;
  color: white;
}